
[submodule "submissions/icp-anonim"]
	path = submissions/icp-anonim
	url = https://github.com/ke4s/icp.git
[submodule "submissions/BlockFusion"]
	path = submissions/BlockFusion
	url = https://github.com/Goguzgungor/ic-eth-starter